bcrypt>=4.0.0
beautifulsoup4>=4.11.2
blinker>=1.5
Brotli==1.0.9
certifi
chardet
charset-normalizer
cryptography>=41.0.0
fasteners
future
html5lib
httplib2
idna
lxml
Mako
MarkupSafe
numpy
paramiko
Pillow
psutil
PyJWT
PyNaCl
pyparsing
python-dateutil
pytz
PyYAML
requests
six
soupsieve
urllib3
websockets
yt-dlp
uvicorn
fastapi