<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG CHESS</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header class="heading">
        <p class="site-name">GG CHESS</p>
    </header>
    <div class="login-box">
        <h2>Criar usuário</h2>
        <form action="/auth/register" method="post">
            <input type="email", placeholder="E-mail", name="email" required>
            <input type="text", placeholder="Usuário", name="name" required>
            <input type="password" placeholder="Senha", name="password" required>
            <input type="submit" value="Create">
        </form>
    </div>
    <footer></footer>
</body>
</html>